// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


//
//TYPOGRAPHY
//

td>a {
    color: blue;
    text-decoration: none;
    font-weight: 600;
}


//
//MAIN
//

main {

    .card {

        .card-img-top {

            width: 100%;
            border-top-left-radius: 15px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}