// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


//
//TYPOGRAPHY
//

td>a {
    color: blue;
    text-decoration: none;
    font-weight: 600;
}